:root {
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
  min-height: 100vh; /* Минимальная высота — 100% высоты окна браузера */
  display: flex;
  flex-direction: column;
}
